@charset "UTF-8";

/* TossFace */

@font-face {
  font-family: 'TossFaceFontMac';
  src: url('../fonts/TossFace/TossFaceFontMac.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* FreightText */

@font-face {
  font-family: 'FreightText';
  src: url('../fonts/FreightText/3866ef6c-9678-4744-b9cc-320b34a5a66e.woff2') format('woff2'),
    url('../fonts/FreightText/ccafaace-64a4-4386-ac8d-b91b19487176.woff') format('woff');
  font-display: fallback;
}

/* This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: https://www.linotype.com */

/* Bznav Sans */

@font-face {
  font-family: 'BznavSans';
  src: url('../fonts/BznavSans/BznavSans-Bold.woff2') format('woff2'),
    url('../fonts/BznavSans/BznavSans-Bold.woff') format('woff'),
    url('../fonts/BznavSans/BznavSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'BznavSans';
  src: url('../fonts/BznavSans/BznavSans-ExtraLight.woff2') format('woff2'),
    url('../fonts/BznavSans/BznavSans-ExtraLight.woff') format('woff'),
    url('../fonts/BznavSans/BznavSans-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'BznavSans';
  src: url('../fonts/BznavSans/BznavSans-Light.woff2') format('woff2'),
    url('../fonts/BznavSans/BznavSans-Light.woff') format('woff'),
    url('../fonts/BznavSans/BznavSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'BznavSans';
  src: url('../fonts/BznavSans/BznavSans-Black.woff2') format('woff2'),
    url('../fonts/BznavSans/BznavSans-Black.woff') format('woff'),
    url('../fonts/BznavSans/BznavSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'BznavSans';
  src: url('../fonts/BznavSans/BznavSans-Regular.woff2') format('woff2'),
    url('../fonts/BznavSans/BznavSans-Regular.woff') format('woff'),
    url('../fonts/BznavSans/BznavSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'BznavSans';
  src: url('../fonts/BznavSans/BznavSans-Medium.woff2') format('woff2'),
    url('../fonts/BznavSans/BznavSans-Medium.woff') format('woff'),
    url('../fonts/BznavSans/BznavSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
